<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Update Employee</h1>
	<form th:action="@{/updateEmployee}" th:object="${employee}" method="POST">
		<input type="hidden" th:field="*{id}" />
		<table border="1">
			<tr>
				<td>Name</td>
				<td><input th:field="*{name}" /></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input th:field="*{address}" /></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input type="number" th:field="*{salary}" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Update Employee" /> <a th:href="@{/home}">Cancel</a></td>
			</tr>
		</table>
	</form>
</body>
</html>